body {
    margin: 0;
    font-family: Arial;
    background: #f5f9ff;
    color: #1e293b;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2563eb;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-box input {
    width: 400px;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #cbd5e1;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #38bdf8;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filters input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    width: 120px;
}

/* destaque */
.melhor-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #38bdf8;
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-radius: 8px;
}

.title {
    font-size: 13px;
    margin: 10px 0;
}

.price {
    color: #0ea5e9;
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 10px;
    background: #38bdf8;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
